# build output
dist/
# generated types
.astro/
src/data/site-modified.json

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# linters & formatters
.eslintcache
.prettierignore
.lighthouseci/
playwright-report/
test-results/

# editor
.vscode/extensions.json

# OS
.DS_Store
Thumbs.db
